@charset "UTF-8";

// 1.Base
@import 'base/variables';
@import 'base/layouts';
@import 'base/page';

// Knacss
//@import "node_modules/knacss/sass/_config/breakpoints";
//@import "node_modules/knacss/sass/_config/mixins";
//@import "node_modules/knacss/sass/_config/variables";
//@import "node_modules/knacss/sass/_vendor/normalize";
//@import "node_modules/knacss/sass/library/base";

// React-grid-layout
@import "/node_modules/react-grid-layout/css/styles.css";
@import "/node_modules/react-resizable/css/styles.css";

//@import "../../../node_modules/chartist/dist/scss/chartist";

// Framework
@import "core/core-mixins";
@import 'core/icons';
@import 'core/progress-bar';
@import 'core/effect/blink_effect';
@import 'core/effect/flip_effect';
@import 'core/scalable-text';
@import 'core/scalable-image';

// Components
@import 'component/grid';

// Widgets
@import 'widget/Widget';
@import 'widget/SonkinsWidget';
@import 'widget/JenkinsMonitoringWidget';
@import 'widget/ClockWidget';
@import 'widget/SprintWidget';
@import 'widget/IssuesWidget';
@import 'widget/GraphWidget';
@import 'metric/metrics';




#resetBtn {
  position: absolute;
  right: 5px;
  bottom: 5px;
  z-index: 999;
}
.date {
  color: $color-date;
}









