/* ~~~~~~~~~~~~~~~~~~~~~~~~~~~~~~~~~~~~~~~~~~~~~~~~~~~~~~~~~~~~~~~~~~ */
/* ez-Dashing main configuration
/* ~~~~~~~~~~~~~~~~~~~~~~~~~~~~~~~~~~~~~~~~~~~~~~~~~~~~~~~~~~~~~~~~~~ */

// Color theme
@import 'theme/blackTheme';

$ez-base: #aaa !default;
$ez-good: #74b53c !default;
$ez-bad: #c65555 !default;
$ez-avg: #db8240 !default;
$ez-building: #dcae41 !default;
$ez-date: #36afb3 !default;
$ez-sprint: #2268ae !default;
$ez-gray: #999 !default;
$ez-title: #eee !default;

$ez-grid-bg: #242424 !default;
$ez-grid-placeholder: $ez-base !important !default;
$ez-gap: 1rem !default;
$ez-widget-bg: #30353c !default;
$ez-widget-bg-header: rgba(33, 33, 33, 0.5) !default;
$ez-widget-text-header: rgba(255, 255, 255, 0.8) !default;
$ez-widget-text-color: white !default;
$image-path: '/img' !default;

%flexColumn {
  display: flex;
  justify-content: center;
  flex-direction: column;
}
%flexRow {
  display: flex;
  justify-content: center;
  flex-direction: row;
}

// Knacss
@import "../../../node_modules/knacss/sass/_config/breakpoints";
@import "../../../node_modules/knacss/sass/_config/mixins";
@import "../../../node_modules/knacss/sass/_config/variables";
@import "../../../node_modules/knacss/sass/_vendor/normalize";

@import "../../../node_modules/chartist/dist/scss/chartist";

// Framework
@import "core/core-mixins";
@import 'core/icons';
@import 'core/progress-bar';
@import 'core/effect/blink_effect';
@import 'core/effect/flip_effect';
@import 'core/scalable-text';
@import 'core/scalable-image';

// Widgets
@import 'widget/Widget';
@import 'widget/SonkinsWidget';
@import 'widget/JenkinsMonitoringWidget';
@import 'widget/ClockWidget';
@import 'widget/SprintWidget';
@import 'widget/IssuesWidget';
@import 'widget/GraphWidget';
@import 'metric/metrics';


html {
  font-size: calc(1.2em * 0.625) !important;
  @include medium {
    font-size: calc(0.8em * 0.625) !important;
  }
  @include small {
    font-size: calc(0.75em * 0.625) !important;
  }
  @include tiny {
    font-size: calc(0.7em * 0.625) !important;
  }
  margin: 0;
}
html, body {
  color: $ez-base;
}
html, body > section, .react-grid-layout {
  background-color: $ez-grid-bg;
}
body {
  margin: 0;
  padding: 0;
}
* {
  text-decoration: none;
  outline:none;
}
body > section {
  font-size: $base-font-size;
}
.react-grid-placeholder {
  background-color: $ez-grid-placeholder;
}
#resetBtn {
  position: absolute;
  right: 5px;
  bottom: 5px;
  z-index: 999;
}
.date {
  color: $ez-date;
}










