@import "../../../../style/common";

/* ~~~~~~~~~~~~~~~~~~~~~~~~~~~~~~~~~~~~~~~~~~~~~~~~~~~~~~~~~~~~~~~~~~~~~~~~~ */
/* LINEAR PROGRESS BAR
/* ~~~~~~~~~~~~~~~~~~~~~~~~~~~~~~~~~~~~~~~~~~~~~~~~~~~~~~~~~~~~~~~~~~~~~~~~~ */

$color-progress-bar-trail: #aaa !default;
$color-progress-bar-path: #eee !default;

.linear.progress-bar {
  position: relative;
  width: 100%;
  transition: all 500ms;

  .trail {
    width: 100%;
    height: 10px;
    background: $color-progress-bar-trail;
  }

  .path {
    position: absolute;
    height: 10px;
    background: $color-progress-bar-path;
    transition: all 200ms ease;
  }
}
