

.rodal-dialog {
  padding: 0px;
  width: 40% !important;
  height: 35% !important;
  min-width: 350px;
  min-height: 350px;
  display: flex;
  flex-direction: column;

  header {
    display: flex;
    padding: 15px;
    border-bottom: 1px solid #222;
    font-weight: bold;
    text-transform: uppercase;
  }

  article {
    display: flex;
    flex-direction: column;
    overflow: auto;
    padding: 15px;
    height: 100%;
  }

  footer {
    display: flex;
    align-items: center;
    justify-content: flex-end;
    padding: 15px;
    border-top: 1px solid #222;
    button {
      float: right;
      margin-left: 15px;
    }
  }
}
