/**
 * Inspired from https://codepen.io/thebabydino/pen/goYYrN
 */

$input-range-track-width: 100% !default;
$input-range-track-height: .25em !default;
$input-range-thumb-width: 2em !default;
$input-range-thumb-height: 1em !default;
$input-range-thumb-color: #fff !default;
$input-range-track-color: #ccc !default;
;
$input-range-progress-color: #2e9bdc !default;
$input-range-thumb-radius: 0 !default;

@mixin track() {
  box-sizing: border-box;
  border: none;
  width: $input-range-track-width;
  height: $input-range-track-height;
  background: $input-range-track-color 0/var(--sx) 100% no-repeat linear-gradient($input-range-progress-color, $input-range-progress-color);
}

@mixin fill() {
  height: $input-range-track-height;
  background: $input-range-progress-color
}

@mixin thumb() {
  box-sizing: border-box;
  width: $input-range-thumb-width;
  height: $input-range-thumb-height;
  border-radius: $input-range-thumb-radius;
  border: 1px solid #ccc;
  background: linear-gradient(#eee, #aaa);
  position: relative;
}

[type='range'] {
  &:focus {
    outline: 0;
  }

  &::-moz-focus-outer {
    border: 0;
  }

  &, &::-webkit-slider-thumb {
    -webkit-appearance: none;
  }

  --range: calc(var(--max) - var(--min));
  --ratio: calc((var(--val) - var(--min)) / var(--range));
  --sx: calc(.5 * #{$input-range-thumb-width} + var(--ratio) * (100% - #{$input-range-thumb-width}));
  margin: 0;
  padding: 0;
  width: $input-range-track-width;
  height: $input-range-thumb-height;
  background: transparent;

  // TRACK
  &::-webkit-slider-runnable-track {
    @include track
  }

  &::-moz-range-track {
    @include track
  }

  &::-ms-track {
    @include track
  }

  // PROGRESS
  &::-moz-range-progress {
    @include fill
  }

  &::-ms-fill-lower {
    @include fill
  }

  // THUMB
  &::-webkit-slider-thumb {
    margin-top: .5*($input-range-track-height - $input-range-thumb-height);
    @include thumb
  }

  &::-moz-range-thumb {
    @include thumb
  }

  &::-ms-thumb {
    margin-top: 0;
    @include thumb
  }

  // OTHER
  &::-ms-tooltip {
    display: none
  }
}
