
// General
$ez-grid-bg: #050607;
$ez-widget-bg: #0d1117;
$ez-good: #7ad627;
$ez-bad: #d41717;
$ez-avg: #e7a71e;

// Widgets
$ez-widget-bg-header: rgba(33, 33, 33, 0.5);

// Sonkins states
$ez-sonkins-header-bg-good: none;
$ez-sonkins-header-text-good: $ez-good;
$ez-sonkins-header-bg-bad: $ez-bad;
$ez-sonkins-header-text-bad: $ez-grid-bg;
$ez-sonkins-header-bg-building: $ez-avg;
$ez-sonkins-header-text-building: $ez-grid-bg;
