/* ~~~~~~~~~~~~~~~~~~~~~~~~~~~~~~~~~~~~~~~~~~~~~~~~~~~~~~~~~~~~~~~~~~~~~~~~~ */
/* ez-Dashing black color theme
/* ~~~~~~~~~~~~~~~~~~~~~~~~~~~~~~~~~~~~~~~~~~~~~~~~~~~~~~~~~~~~~~~~~~~~~~~~~ */

// BASE COLOR
$color-base: #151515 !default;
$color-black: #212121 !default;
$color-black-darker: #1E1E1E !default;
$color-blue: #2268ae !default;
$color-blue-dark: #30353c !default;
$color-cyan: #2e9bdc !default;
$color-gray: #999 !default;
$color-gray-light: #aaa !default;
$color-green: #88b250;
$color-orange: #e56d3b !default;
$color-yellow: #cd852d;
$color-red: #ae3240;
$color-red-light-opacity: rgba(174, 50, 64, 0.4);
$color-white: #eee !default;
$color-white-half-opacity: rgba(255, 255, 255, 0.5) !default;


// GENERIC TEXT COLOR
$color-average: $color-orange !default;
$color-bad: $color-red !default;
$color-base: $color-gray-light !default;
$color-building: $color-yellow !default;
$color-good: $color-green !default;
$color-title: $color-white !default;
$color-spinner: $color-white !default;

// COMPONENT TEXT COLOR
$color-widget-clock-text: $color-cyan !default;
$color-widget-sprint-text: $color-blue !default;
$color-widget-text: $color-white !default;
$color-widget-header-text: $color-title !default;
$color-widget-sub-title-text: $color-gray-light !default;

// BACKGROUND COMPONENT COLOR
$color-grid-bg: $color-base !default;
$color-grid-bg-placeholder: $color-white-half-opacity;
$color-widget-bg: $color-black !default;
$color-widget-header-bg: $color-black !default;
$color-widget-footer-bg: $color-black !default;

// Sonkins states
$ez-sonkins-header-bg-good: none;
$ez-sonkins-header-text-good: $color-good;
$ez-sonkins-header-bg-bad: $color-bad;
$ez-sonkins-header-text-bad: $color-grid-bg;
$ez-sonkins-header-bg-building: $color-average;
$ez-sonkins-header-text-building: $color-grid-bg;

$color-widget-burndown-tick: rgba(0, 0, 0, 0.2) !default;
$color-widget-burndown-label: #fff !default;
$color-widget-burndown-line-velocity-ref: $color-cyan !default;
$color-widget-burndown-line-velocity-cur: white !default;

$color-metric-name: $color-white !default;

$color-burger-menu-bg: #222;
$color-burger-menu-burger-button: #222 !default;
$color-burger-menu-overlay: rgba(0, 0, 0, 0.3) !default;
$color-burger-menu-cross-button: $color-red !default;
$color-burger-menu-item: $color-white !default;

$color-sonkins-progress-bar-trail: #2a2a2a !default;
$color-progress-bar-trail: #2a2a2a !default;

$image-bug-empty: 'thumb.svg' !default;

@import '../main';

// EFFECT
.widget.sonkins.unstable,
.widget.sonkins.failure {
  @include infiniteBgColorChange($color-widget-bg, $color-bad, 8s);
}
