/* ~~~~~~~~~~~~~~~~~~~~~~~~~~~~~~~~~~~~~~~~~~~~~~~~~~~~~~~~~~~~~~~~~~ */
/* PROGRESS BAR COMPONENTS (SVG)
/* ~~~~~~~~~~~~~~~~~~~~~~~~~~~~~~~~~~~~~~~~~~~~~~~~~~~~~~~~~~~~~~~~~~ */
$color-good: #74b53c !default;
$color-average: #df701f !default;
$color-bad: #c65555 !default;


// LINEAR PROGRESS BAR

.linear-progress-bar-wrapper {
  display: flex;
  flex: 1;
}
.progress-bar.linear {
  .path {
    stroke: rgba(255, 255, 255, 0.9);
    transition: stroke-dashoffset 0.5s ease 0s;
  }
  .trail {
    stroke: rgba(33, 33, 33, 0.7);
  }
  .display-value, .label {
    fill: $color-base;
  }
  .display-value {
    font-size: 0.8rem;
    text-anchor: start;
  }
  .label {
    font-size: 0.4rem;
    text-anchor: end;
  }
}


// CIRCULAR PROGRESS BAR

.circular-progress-bar-wrapper {
  display: flex;
  flex-grow: 1;
}
.progress-bar.circular {
  .path {
    stroke: rgba(255, 255, 255, 0.9);
    transition: stroke-dashoffset 0.5s ease 0s;
  }
  .trail {
    stroke: rgba(33, 33, 33, 0.7);
  }
  .display-value, .label {
    fill: $color-base;
    dominant-baseline: middle;
    text-anchor: middle;
  }
  .display-value {
    font-size: 4rem;
  }
  .label {
    font-size: 1rem;
  }
}


// COMMON PROGRESS BAR BEHAVIOUR

.progress-bar.good {
  .path {
    stroke: $color-good;
  }
  .display-value {
    fill: $color-good;
  }
}
.progress-bar.avg {
  .path {
    stroke: $color-average;
  }
  .display-value {
    fill: $color-average;
  }
}
.progress-bar.bad {
  .path {
    stroke: $color-bad;
  }
  .display-value {
    fill: $color-bad;
  }
}

/* Inspired of :
    - https://github.com/iqnivek/react-circular-progressbar
*/
