/* ~~~~~~~~~~~~~~~~~~~~~~~~~~~~~~~~~~~~~~~~~~~~~~~~~~~~~~~~~~~~~~~~~~~~~~~~~ */
/* Scalable text (SVG)
/* ~~~~~~~~~~~~~~~~~~~~~~~~~~~~~~~~~~~~~~~~~~~~~~~~~~~~~~~~~~~~~~~~~~~~~~~~~ */
$color-base: #fff !default;

.scalable-text {
  @extend %flexColumn;
  text {
    fill: $color-base;
    dominant-baseline: middle;
    font-size: 0.8rem;
  }
}
