/* ~~~~~~~~~~~~~~~~~~~~~~~~~~~~~~~~~~~~~~~~~~~~~~~~~~~~~~~~~~~~~~~~~~~~~~~~~ */
/* ez-Dashing ugly and unfinished dashing theme
/* ~~~~~~~~~~~~~~~~~~~~~~~~~~~~~~~~~~~~~~~~~~~~~~~~~~~~~~~~~~~~~~~~~~~~~~~~~ */
:root {
  // BASE COLOR
  --color-white: #eee;
  --color-sonkins: #8cb53e;
  --color-jira: #31b0a9;
  --color-clock: #a23472;
  --color-red: #a51918;
  --color-blue: #34608f;
  --color-grid-bg: #222;
  --color-widget-bg: transparent;

  // METRIC & THRESHOLD
  --color-metric-neutral: var(--color-white);
  --color-good: var(--color-white);
  --color-bad: var(--color-white);
  --color-average: var(--color-white);

  // PROGRESS BAR
  --color-progress-bar-path: var(--color-white);

  // WIDGET
  --color-widget-header-bg: transparent;
  --color-widget-sonkins-bg: var(--color-sonkins);
  --color-widget-sonkins-progress-bar-path: var(--color-white);
  --color-widget-sonkins-progress-bar-text: var(--color-white);
  --color-widget-bug-bg: var(--color-jira);
  --color-widget-bug-todo: var(--color-white);
  --color-widget-bug-progress: transparent;
  --color-widget-clock-bg: var(--color-clock);
  --color-widget-clock-text: var(--color-white);
  --color-widget-sub-title-text: var(--color-white);
  --color-widget-sprint-text: var(--color-white);
  --color-widget-sprint-bg: var(--color-blue);
}

.widget.sonkins.failure {
  background: var(--color-red);
}

