/* ~~~~~~~~~~~~~~~~~~~~~~~~~~~~~~~~~~~~~~~~~~~~~~~~~~~~~~~~~~~~~~~~~~~~~~~~~ */
/* ez-Dashing snow theme for christmas
/* ~~~~~~~~~~~~~~~~~~~~~~~~~~~~~~~~~~~~~~~~~~~~~~~~~~~~~~~~~~~~~~~~~~~~~~~~~ */
@import '../common';

// ENABLE SNOW ON EACH WIDGET HEADER
.react-grid-item:before {
  background: url('#{$image-path}/misc/snow.png') repeat-x;
  display: block;
  content: " ";
  height: 15px;
  width: 100%;
  position: absolute;
  z-index: 1;
}

// ENABLE SNOW
.snow-container {
  display: block;
}

// EFFECT
.widget.sonkins.failure {
  @include infiniteBgColorChange($color-widget-bg, $color-bad, 8s);
}