@import "../../../style/common";

/* ~~~~~~~~~~~~~~~~~~~~~~~~~~~~~~~~~~~~~~~~~~~~~~~~~~~~~~~~~~~~~~~~~~~~~~~~~ */
/* SPRINT WIDGET
/* ~~~~~~~~~~~~~~~~~~~~~~~~~~~~~~~~~~~~~~~~~~~~~~~~~~~~~~~~~~~~~~~~~~~~~~~~~ */

.widget.sprint {
  background-color: $color-widget-sprint-bg;
  header {
    span {
      vertical-align: middle;
    }
    strong {
      color: $color-widget-sprint-text;
      &::before {
        content: ' #';
      }
    }
  }
  article {
    padding: 0;
    & > div {
      display: flex;
      flex-grow: 1;
      width: 100%;
      height: 100%;
      position: absolute;
      padding: 2rem;
      padding-top: 3rem;
      padding-bottom: 3rem;
    }
  }
}
