
// ICON - Alpha order
.icon.archlinux  { background-image: url('#{$image-path}/tech/archlinux.svg'); }
.icon.babel      { background-image: url('#{$image-path}/tech/babel.svg'); }
.icon.backbone   { background-image: url('#{$image-path}/tech/backbone.svg'); }
.icon.css3       { background-image: url('#{$image-path}/tech/css3.svg'); }
.icon.html5      { background-image: url('#{$image-path}/tech/html5.svg'); }
.icon.intellij   { background-image: url('#{$image-path}/tech/intellij.svg'); }
.icon.javascript { background-image: url('#{$image-path}/tech/javascript.svg'); }
.icon.java       { background-image: url('#{$image-path}/tech/java.svg'); }
.icon.jenkins    { background-image: url('#{$image-path}/tech/jenkins.svg'); }
.icon.jquery     { background-image: url('#{$image-path}/tech/jquery.svg'); }
.icon.knacss     { background-image: url('#{$image-path}/tech/knacss.svg'); }
.icon.nodejs     { background-image: url('#{$image-path}/tech/nodejs.svg'); }
.icon.react      { background-image: url('#{$image-path}/tech/react.svg'); }
.icon.react-text { background-image: url('#{$image-path}/tech/react-text.svg'); }
.icon.responsive { background-image: url('#{$image-path}/tech/responsive.png'); }
.icon.sass       { background-image: url('#{$image-path}/tech/sass.svg'); }
.icon.sonar      { background-image: url('#{$image-path}/tech/sonar.svg'); }
.icon.webpack    { background-image: url('#{$image-path}/tech/webpack.svg'); }
.icon.arrow-up   { background-image: url('#{$image-path}/icon/arrow-up.svg'); }
.icon.inProgress { background-image: url('#{$image-path}/inProgress.png'); }

// A size must be specified
%icon {
  background-repeat: no-repeat;
  background-size: contain;
  background-position: center center;
}

/**
 * This mixin allow to use a svg as icon to ease theme customization (change the icon color depending on
 * the theme). The background color became the icon color due to the applied mask.
 *
 * Sample usage : @include svgMaskIcon(16px, red, 'layout.svg');
 */
@mixin svgMaskIcon($size, $bg-color, $svgFile) {
  @extend %icon;
  display: inline-block;
  vertical-align: sub;
  width: $size;
  height: $size;
  background-color: $bg-color;
  mask: url('#{$image-path}/#{$svgFile}') no-repeat 50% 50%;
  -webkit-mask: url('#{$image-path}/#{$svgFile}') no-repeat 50% 50%;
}
