
@mixin image($bg-image) {
  background: url('#{$image-path}/#{$bg-image}') no-repeat center center;
  background-size: contain;
}

/**
 * This mixin allow to use a svg as icon to ease theme customization (change the icon color depending on
 * the theme). The background color became the icon color due to the applied mask.
 *
 * Sample usage : @include svgMaskIcon(16px, red, 'layout.svg');
 */
@mixin svgMask($bg-color, $svgFile) {
  background-color: $bg-color;
  mask: url('#{$image-path}/#{$svgFile}') no-repeat 50% 50%;
  -webkit-mask: url('#{$image-path}/#{$svgFile}') no-repeat 50% 50%;
}

/**
 * Same as svgMask but with sized icons
 */
@mixin svgMaskIcon($size, $bg-color, $svgFile) {
  @include svgMask($bg-color, $svgFile);
  display: inline-block;
  vertical-align: sub;
  width: $size;
  height: $size;
}
