/* ~~~~~~~~~~~~~~~~~~~~~~~~~~~~~~~~~~~~~~~~~~~~~~~~~~~~~~~~~~~~~~~~~~~~~~~~~ */
/* LINEAR PROGRESS BAR
/* ~~~~~~~~~~~~~~~~~~~~~~~~~~~~~~~~~~~~~~~~~~~~~~~~~~~~~~~~~~~~~~~~~~~~~~~~~ */

.linear-progress-bar {
  width: 100%;
  transition: all 400ms;
  background: #000;
  div {
    height: 10px;
    background: #29D;
    transition: all 200ms ease;
  }
}
