/* ~~~~~~~~~~~~~~~~~~~~~~~~~~~~~~~~~~~~~~~~~~~~~~~~~~~~~~~~~~~~~~~~~~~~~~~~~ */
/* LINEAR PROGRESS BAR
/* ~~~~~~~~~~~~~~~~~~~~~~~~~~~~~~~~~~~~~~~~~~~~~~~~~~~~~~~~~~~~~~~~~~~~~~~~~ */

.progress-bar-wrapper {
  display: flex;
  flex: 1;
}

.progress-bar.linear {
  .path {
    transition: stroke-dashoffset 0.5s ease 0s;
  }
  .display-value {
    font-size: 0.8rem;
    text-anchor: start;
  }
  .label {
    font-size: 0.4rem;
    text-anchor: end;
  }

  .path {
    stroke: $color-good;
  }
  .display-value {
    fill: $color-good;
  }

}
