/* ~~~~~~~~~~~~~~~~~~~~~~~~~~~~~~~~~~~~~~~~~~~~~~~~~~~~~~~~~~~~~~~~~~~~~~~~~ */
/* BUG WIDGET
/* ~~~~~~~~~~~~~~~~~~~~~~~~~~~~~~~~~~~~~~~~~~~~~~~~~~~~~~~~~~~~~~~~~~~~~~~~~ */

.widget.bug {
  background-color: $color-widget-bug-bg;
  header {
    span {
      vertical-align: middle;
    }
    strong {
      color: $color-good;
      vertical-align: middle;
      font-size: 180%;
    }
  }

  article {
    text-align: left;
    font-size: 120%;
    ul {
      list-style: none;
      margin-left: 0;
      padding-left: 1rem;
      text-indent: 0rem;
      li .icon {
        display: inline-block;
        margin-right: 1rem;
        &.todo {
          @include svgMaskIcon(16px, $color-widget-bug-todo, $image-bug-todo);
        }
        &.progress {
          @include svgMaskIcon(16px, $color-widget-bug-progress, $image-bug-todo);
        }
      }
    }
    .scalable-image-wrapper {
      .no-bug-image {
        @include svgMask($color-good, $image-bug-empty);
      }
    }
  }
}

// Threshold styles
// ----------------
.widget.bug.avg header strong {
  color: $color-average;
}
.widget.bug.bad header strong {
  color: $color-bad;
}

// Responsive widget styles: number of jira issues displayed
// ---------------------------------------------------------
.height-xxxs.widget.bug article ul li:nth-child(n+2) {
  display: none;
}
.height-xxs.widget.bug article ul li:nth-child(n+6) {
  display: none;
}
.height-xs.widget.bug article ul li:nth-child(n+11) {
  display: none;
}

// Responsive widget styles: font and icon size
// --------------------------------------------
.width-xxs {
  &.widget.bug article {
    font-size: 150%;
    ul li .icon {
      width: 24px;
      height: 24px;
    }
  }
}

.width-xs, .width-sm, .width-md, .width-lg {
  &.widget.bug article {
    font-size: 200%;
    ul li .icon {
      width: 32px;
      height: 32px;
    }
  }
}

.height-xxs, .height-xs, .height-sm, .height-md, .height-lg {
  &.widget.bug.empty article {
    padding: 40px;
  }
}
