/* ~~~~~~~~~~~~~~~~~~~~~~~~~~~~~~~~~~~~~~~~~~~~~~~~~~~~~~~~~~~~~~~~~~~~~~~~~ */
/* CLOCK WIDGET
/* ~~~~~~~~~~~~~~~~~~~~~~~~~~~~~~~~~~~~~~~~~~~~~~~~~~~~~~~~~~~~~~~~~~~~~~~~~ */

.widget.clock {
  background-color: $color-widget-clock-bg;
  color: $color-widget-clock-text;
  font-size: 140%;
  font-weight: bold;
  //font-family: 'Orbitron';
}

// Responsive style depending on the dynamic widget size
.widget.clock {
  &.width-xxs {
    font-size: 250%;
  }
  &.width-xs, &.width-sm, &.width-md, &.width-lg {
    font-size: 400%;
  }
  &.height-xxxs {
    p:nth-child(2) {
      display: none;
    }
  }
}
