/* ~~~~~~~~~~~~~~~~~~~~~~~~~~~~~~~~~~~~~~~~~~~~~~~~~~~~~~~~~~~~~~~~~~~~~~~~~ */
/* FIABILITY WIDGET
/* ~~~~~~~~~~~~~~~~~~~~~~~~~~~~~~~~~~~~~~~~~~~~~~~~~~~~~~~~~~~~~~~~~~~~~~~~~ */

.widget.fiability article {
  font-size: 300%;
  color: $color-widget-fiability-text;
}

.height-xxs {
  &.widget.fiability article {
    font-size: 700%;
  }
}

.height-xs, .height-sm, .height-md, .height-lg {
  &.widget.fiability article {
    font-size: 1000%;
  }
}

