/* ~~~~~~~~~~~~~~~~~~~~~~~~~~~~~~~~~~~~~~~~~~~~~~~~~~~~~~~~~~~~~~~~~~~~~~~~~ */
/* RELIABILITY WIDGET
/* ~~~~~~~~~~~~~~~~~~~~~~~~~~~~~~~~~~~~~~~~~~~~~~~~~~~~~~~~~~~~~~~~~~~~~~~~~ */

.widget.reliability article {
  font-size: 300%;
  color: $color-widget-reliability-text;
}

.height-xxs {
  &.widget.reliability article {
    font-size: 700%;
  }
}

.height-xs, .height-sm, .height-md, .height-lg {
  &.widget.reliability article {
    font-size: 1000%;
  }
}

