/* ~~~~~~~~~~~~~~~~~~~~~~~~~~~~~~~~~~~~~~~~~~~~~~~~~~~~~~~~~~~~~~~~~~~~~~~~~ */
/* SONKINS WIDGET
/* ~~~~~~~~~~~~~~~~~~~~~~~~~~~~~~~~~~~~~~~~~~~~~~~~~~~~~~~~~~~~~~~~~~~~~~~~~ */

@mixin defineBuildAuthor($authorImageSize) {
  .author {
    @extend %icon;
    width: $authorImageSize;
    height: $authorImageSize;
  }
  &.SUCCESS .author {
    @include svgMaskIcon($authorImageSize, $color-good, 'thumb.svg');
  }
}

// MOBILE FIRST
.widget.sonkins {
  @include defineBuildAuthor(30px);

  article > div {
    .progress-bar {
      .trail {
        stroke: $color-black;
        background: $color-black;
      }
      .path {
        stroke: $color-building;
        background: $color-building !important;
      }
      text {
        fill: $color-building;
      }
      &.linear {
        align-self: center;
        display: none;
      }
    }
  }

  &.FAILURE {
    @include infiniteBgColorChange($color-bg-widget, $color-bad, 8s);
    font-weight: bold;
    .metric {
      width: 100% !important;
      img {
        height: 10rem;
      }
    }
  }

  &.BUILDING, &.REBUILDING {
    @include infiniteFlipping(10s);
    font-weight: bold;
    article {
      @include infiniteBlinking(2s, 0.3);
      > div {  // wrapper only on building
        display: flex;
        flex-grow: 1;
      }
      .flip-container {
        display: flex;
        flex-grow: 1;
        .face {
          display: flex;
        }
      }
    }
  }
}

// DESKTOP
.widget.sonkins.desktop {
  @include defineBuildAuthor(45px);

  &.REBUILDING, &.BUILDING {
    article {
      .metric {
        display: flex;
        align-self: center;
        justify-content: center;
        width: 100%;
        height: 100%;
        flex-grow: 1;
        > div {
          height: auto;
          align-self: center;
        }
        img {
          height: 10rem;
        }
      }
    }
  }

  // No need to display avatar on very small height
  &.REBUILDING.height-xxxs, &.BUILDING.height-xxxs {
    img {
      display: none;
    }
  }

  &.height-xxxs {
    img {
      height: 3.5rem;
    }
    .flip-container {
      display: none;
    }
    .progress-bar.linear {
      display: flex;
    }
  }
}

