/* ~~~~~~~~~~~~~~~~~~~~~~~~~~~~~~~~~~~~~~~~~~~~~~~~~~~~~~~~~~~~~~~~~~~~~~~~~ */
/* SONKINS WIDGET
/* ~~~~~~~~~~~~~~~~~~~~~~~~~~~~~~~~~~~~~~~~~~~~~~~~~~~~~~~~~~~~~~~~~~~~~~~~~ */

// MOBILE FIRST
.widget.sonkins {

  .metric {
    display: inline-block;
    width: 100%;
    overflow: hidden;
    &.image .value {
      height: 60%;
    }
    & > div {
      display: flex;
      justify-content: space-between;
      flex-direction: row-reverse;
      height: 100%;
      overflow: hidden;
      line-height: 1.2;
      align-items: center;
      img {
        object-fit: contain;
        height: 25px;
      }
      * {
        margin: 0;
      }
      .value {
        font-size: 150%;
      }
      .name {
      }
    }
  }

}

// DESKTOP
.widget.sonkins.desktop {
  font-size: 120%;
  .metric {
    height: 90px;
    font-size: 120%;
    width: 50%;
    & > div {
      justify-content: flex-end;
      flex-direction: column;
      img {
        object-fit: contain;
        height: 50px;
      }
      .value {
        font-size: 190%;
      }
    }

  }
}
.widget.sonkins.width-xs article {
  .metric {
    width: 25%;
  }
}
.widget.sonkins.width-sm article,
.widget.sonkins.width-md article,
.widget.sonkins.width-lg article
{
  font-size: 120%;
  .metric {
    width: 25%;
    .value {
      font-size: 190%;
    }
  }
}


