/* ~~~~~~~~~~~~~~~~~~~~~~~~~~~~~~~~~~~~~~~~~~~~~~~~~~~~~~~~~~~~~~~~~~~~~~~~~ */
/* SPRINT WIDGET
/* ~~~~~~~~~~~~~~~~~~~~~~~~~~~~~~~~~~~~~~~~~~~~~~~~~~~~~~~~~~~~~~~~~~~~~~~~~ */

.widget.sprint {
  header {
    span {
      vertical-align: middle;
    }
    strong {
      color: $color-text-sprint;
      vertical-align: middle;
      font-size: 150%;
      &::before {
        content: ' #';
      }
    }
  }
}

.height-xxs, .height-xs, .height-sm, .height-md, .height-lg {
  &.widget.sprint article {
    padding: 1em;
  }
}

