/* ~~~~~~~~~~~~~~~~~~~~~~~~~~~~~~~~~~~~~~~~~~~~~~~~~~~~~~~~~~~~~~~~~~~~~~~~~ */
/* SPRINT WIDGET
/* ~~~~~~~~~~~~~~~~~~~~~~~~~~~~~~~~~~~~~~~~~~~~~~~~~~~~~~~~~~~~~~~~~~~~~~~~~ */

.widget.sprint {
  header {
    span {
      vertical-align: middle;
    }
    strong {
      color: $color-text-sprint;
      vertical-align: middle;
      font-size: 150%;
      &::before {
        content: ' #';
      }
    }
  }
}

.widget.sprint.height-xxs article,
.widget.sprint.height-xs article,
.widget.sprint.height-sm article,
.widget.sprint.height-md article,
.widget.sprint.height-lg article {
  padding: 1em;
}

