/* ~~~~~~~~~~~~~~~~~~~~~~~~~~~~~~~~~~~~~~~~~~~~~~~~~~~~~~~~~~~~~~~~~~~~~~~~~ */
/* VELOCITY WIDGET
/* ~~~~~~~~~~~~~~~~~~~~~~~~~~~~~~~~~~~~~~~~~~~~~~~~~~~~~~~~~~~~~~~~~~~~~~~~~ */

.widget.velocity article {
  font-size: 900%;
  color: $color-widget-velocity-text;
}


.width-xxxs {
  &.widget.velocity article {
    font-size: 500%;
  }
}

.width-xxs {
  &.widget.velocity article {
    font-size: 700%;
  }
}

.height-xxxs {
  &.widget.velocity article {
    font-size: 350%;
  }
}
