<!doctype html>
<html lang="en">
<head>
  <meta http-equiv="Content-type" content="text/html; charset=utf-8"/>
  <meta name="viewport" content="width=device-width">
  <link rel="shortcut icon" href="img/tech/ezLogo.png">
  <title><%= htmlWebpackPlugin.options.title %></title>
</head>
<body>

<header>
</header>
<section>
  <div id="react-app"></div>
</section>
<footer>
</footer>

</body>
</html>

