<!doctype html>
<html lang="en">
<head>
  <meta http-equiv="Content-type" content="text/html; charset=utf-8"/>
  <meta name="viewport" content="width=device-width">
  <link rel="shortcut icon" href="img/favicon.png">
  <title><%= htmlWebpackPlugin.options.title %></title>
</head>
<body>

<header>
</header>

<h1>React-Redux Boilerplate !</h1>
<h2>Builded with Webpack v3</h2>

<section>
  <div id="react-app"></div>
</section>

<footer class="footer">
If this boilerplate helped you, please star it !
</footer>

</body>
</html>

