<!doctype html>
<html lang="en">
<head>
  <meta http-equiv="Content-type" content="text/html; charset=utf-8"/>
  <meta name="viewport" content="width=device-width">
  <link rel="shortcut icon" href="img/tech/ezLogo.png">
  <title><%= htmlWebpackPlugin.options.title %></title>
</head>
<body>

<header>
</header>
<section>

  <!-- Div only used for snow theme (pure CSS), do nothing otherwise -->
  <div class="snow-container">
    <div class="snow foreground"></div>
    <div class="snow foreground layered"></div>
    <div class="snow middleground"></div>
    <div class="snow middleground layered"></div>
    <div class="snow background"></div>
    <div class="snow background layered"></div>
  </div>

  <!-- Main app -->
  <div id="react-app"></div>

</section>
<footer>
</footer>

</body>
</html>

