

.jenkins-widget.SUCCESS header, .sonkins-widget.SUCCESS header {
  //background-color: $ez-success;
}

.jenkins-widget.FAILURE header, .sonkins-widget.FAILURE header {
  background-color: $ez-bad;
}

.jenkins-widget.REBUILDING header, .sonkins-widget.REBUILDING header {
  background-color: $ez-building;
}

html, .main, .react-grid-layout {
  background-color: $ez-grid-bg;
}

.main {
  font-size: $base-font-size;
}

.react-grid-placeholder {
  background-color: $ez-grid-placeholder;
}

#resetBtn {
  position: absolute;
  right: 5px;
  bottom: 5px;
  z-index: 999;
}
