
$textColor: $ez-base;

.scalable-text.grow {
  flex-grow: 1;
}

.scalable-text {
  @extend %flexColumn;
  text {
    fill: $textColor;
    dominant-baseline: middle;
    font-size: 0.8rem;
  }
  image {
    //transform: rotate(20deg);
  }
}


