
$headerBgColor: $ez-widget-bg-header;
$titleFontSize: $h1-size;
$titleColor: $ez-widget-text-header;
$textColor: $ez-widget-text-color;
$bgColor: $ez-widget-bg;
$contentPadding: $ez-gap;


/* ~~~~~~~~~~~~~~~~~~~~~~~~~~~~~~~~~~~~~~~~~~~~~~~~~~~~~~~~~~~~~~~~~~ */
/* WIDGET
/* ~~~~~~~~~~~~~~~~~~~~~~~~~~~~~~~~~~~~~~~~~~~~~~~~~~~~~~~~~~~~~~~~~~ */
.widget {
  @extend %flexColumn;
  height: 100%;
  text-align: center;
  color: $textColor;
  background-color: $bgColor;
  header {
    @extend %flexColumn;
    background-color: $headerBgColor;
    color: $titleColor;
    height: 70px;
    min-height: 70px;
    h1 {
      font-size: $titleFontSize;
      font-weight: bold;
      margin: 0;
    }
    label {
      font-style: italic;
      margin: 0;
    }
  }
  .content {
    @extend %flexColumn;
    flex-grow: 1;
    padding: $contentPadding;
  }
}


