
$headerBgColor: $ez-widget-bg-header;
$titleFontSize: $h1-size;
$titleColor: $ez-widget-text-header;
$textColor: $ez-widget-text-color;
$bgColor: $ez-widget-bg;

$clockFontSize: $h1-size;

/* ~~~~~~~~~~~~~~~~~~~~~~~~~~~~~~~~~~~~~~~~~~~~~~~~~~~~~~~~~~~~~~~~~~ */
/* WIDGET
/* ~~~~~~~~~~~~~~~~~~~~~~~~~~~~~~~~~~~~~~~~~~~~~~~~~~~~~~~~~~~~~~~~~~ */
.widget {
  @extend %flexColumn;
  height: 100%;
  text-align: center;
  color: $textColor;
  background-color: $bgColor;
  header {
    @extend %flexColumn;
    background-color: $headerBgColor;
    color: $titleColor;
    height: 70px;
    min-height: 70px;
    h1 {
      font-size: $titleFontSize;
      font-weight: bold;
      margin: 0;
    }
    label {
      font-style: italic;
      margin: 0;
    }
  }
  .content {
    @extend %flexColumn;
    flex-grow: 1;
    padding: 1rem;
  }
}


/* ~~~~~~~~~~~~~~~~~~~~~~~~~~~~~~~~~~~~~~~~~~~~~~~~~~~~~~~~~~~~~~~~~~ */
/* TEAM WIDGET (name + logo)
/* ~~~~~~~~~~~~~~~~~~~~~~~~~~~~~~~~~~~~~~~~~~~~~~~~~~~~~~~~~~~~~~~~~~ */
.widget.team {
  .logo {
    flex: 1;
    @extend %icon;
  }
}

/* ~~~~~~~~~~~~~~~~~~~~~~~~~~~~~~~~~~~~~~~~~~~~~~~~~~~~~~~~~~~~~~~~~~ */
/* CLOCK WIDGET
/* ~~~~~~~~~~~~~~~~~~~~~~~~~~~~~~~~~~~~~~~~~~~~~~~~~~~~~~~~~~~~~~~~~~ */
.widget.clock {
  font-size: $clockFontSize;
  align-items: center;
}

.current-sprint {
  .content {
  }
}

/* ~~~~~~~~~~~~~~~~~~~~~~~~~~~~~~~~~~~~~~~~~~~~~~~~~~~~~~~~~~~~~~~~~~ */
/* SONKINS WIDGET (SONAR + JENKINS)
/* ~~~~~~~~~~~~~~~~~~~~~~~~~~~~~~~~~~~~~~~~~~~~~~~~~~~~~~~~~~~~~~~~~~ */
.widget.sonkins {
  //background-color: #999;
  height: 100%;
  .content {
    flex-direction: row;
  }
  footer {
    margin-top: -30px;
  }
}

.widget.sonkins.UNSTABLE, .sonkins-widget.FAILURE {
  //background-color: #c44;
}

.widget.sonkins.SUCCESS {
  //background-color: #94c140;
}

.widget.sonkins.REBUILDING {
  //background-color: #dcae41;
}

.widget.sonkins .metricValue {
  float: right;
  font-weight: bold;
}

/* ~~~~~~~~~~~~~~~~~~~~~~~~~~~~~~~~~~~~~~~~~~~~~~~~~~~~~~~~~~~~~~~~~~ */
/* JENKINS BUILD
/* ~~~~~~~~~~~~~~~~~~~~~~~~~~~~~~~~~~~~~~~~~~~~~~~~~~~~~~~~~~~~~~~~~~ */
.jenkins-build.progress-bar {
  .path {
    stroke: $ez-building;
  }
  .display-value, .label {
    dominant-baseline: middle;
  }
}

