
$color-audio-playlist-item: #eee !default;

.audio-playlist {
  display: flex;
  flex-direction: column;
  align-items: flex-start;
  flex-grow: 1;
  overflow-x: hidden;
  overflow-y: auto;

  .playlist-item {
    display: flex;
    align-items: flex-start;
    width: 100%;
    padding: 5px;
    min-height: 30px;
    cursor: pointer;
    color: $color-audio-playlist-item;
    &.selected {
      font-weight: bold;
    }

    .icon {
      padding-right: 5px;
    }
  }
}

.audio-playlist.hidden {
  display: none;
}
