@import "../../../style/common";

/* ~~~~~~~~~~~~~~~~~~~~~~~~~~~~~~~~~~~~~~~~~~~~~~~~~~~~~~~~~~~~~~~~~~~~~~~~~ */
/* CLOCK WIDGET
/* ~~~~~~~~~~~~~~~~~~~~~~~~~~~~~~~~~~~~~~~~~~~~~~~~~~~~~~~~~~~~~~~~~~~~~~~~~ */

$color-widget-clock-bg: #ddd !default;
$color-widget-clock-text: #2268ae !default;

.widget.clock {
  background-color: $color-widget-clock-bg;
  font-weight: bold;
  padding: 20px;
  .scalable-text{
    fill: $color-widget-clock-text;
  }
}
