@import "../../../style/common";

/* ~~~~~~~~~~~~~~~~~~~~~~~~~~~~~~~~~~~~~~~~~~~~~~~~~~~~~~~~~~~~~~~~~~~~~~~~~ */
/* SPRINT WIDGET
/* ~~~~~~~~~~~~~~~~~~~~~~~~~~~~~~~~~~~~~~~~~~~~~~~~~~~~~~~~~~~~~~~~~~~~~~~~~ */

.widget.text article .good .text-icon {
  @include svgMaskIcon(70px, $color-widget-text-good-icon, $image-good);
}

.widget.text article .info .text-icon {
  @include svgMaskIcon(70px, $color-widget-text-info-icon, $image-info);
}

.widget.text article .warn .text-icon {
  @include svgMaskIcon(70px, $color-widget-text-warn-icon, $image-warn);
}

.widget.text article .danger .text-icon {
  @include svgMaskIcon(70px, $color-widget-text-danger-icon, $image-danger);
}

.widget.text {

  article {
    font-size: 150%;

    > div {
      @extend %flexRow;
      flex-grow: 1;
      justify-content: left;
      align-items: center;

      .scalable-image-wrapper {
        align-items: center;
        width: 30%;
        height: auto;
      }

      p {
        width: 100%;
        display: flex;
        flex-grow: 1;
        margin: 0;
        text-align: left;
      }
    }
  }
}

// Do not display icon on small size
.width-xxxs, .width-xxs.height-xxxs {
  &.widget.text article .scalable-image-wrapper {
    display: none;
  }
}

.width-xxs.height-xxs, .width-xxs.height-xs, .width-xxs.height-sm, .width-xxs.height-md {
  &.widget.text article {
    > div {
      @extend %flexColumn;

      .scalable-image-wrapper {
        width: 100%;
        align-items: center;
      }
    }
  }
}

.width-xxs {
  &.widget.text article {
    font-size: 150%;
  }
}

.width-xs {
  &.widget.text article {
    font-size: 150%;
  }
}

.width-sm {
  &.widget.text article {
    font-size: 200%;

    .scalable-image-wrapper {
      width: 20%;
    }
  }
}

.width-md, .width-lg {
  &.widget.text article {
    font-size: 250%;

    .scalable-image-wrapper {
      width: 20%;
    }
  }
}
