/* ~~~~~~~~~~~~~~~~~~~~~~~~~~~~~~~~~~~~~~~~~~~~~~~~~~~~~~~~~~~~~~~~~~~~~~~~~ */
/* METRIC
/* ~~~~~~~~~~~~~~~~~~~~~~~~~~~~~~~~~~~~~~~~~~~~~~~~~~~~~~~~~~~~~~~~~~~~~~~~~ */

.metrics {
  flex-grow: 1;
}
.metric {
  .value {
    color: $color-metric-neutral;
  }
  .name {
    color: $color-metric-name;
  }
  &.good .value {
    color: $color-metric-good;
  }
  &.avg .value {
    color: $color-metric-average;
  }
  &.bad .value {
    color: $color-metric-bad;
  }
}

// DEFAULT LAYOUT
//  - 2 metrics per line
//  - Each metric have a value above its label
.metric-wrapper {
  display: inline-block;
  width: 50%;
  height: 50%;
  overflow: hidden;
  .metric {
    display: flex;
    flex-direction: column;
    height: 100%;
    .value {
      display: flex;
      flex-grow: 1;
      font-size: 190%;
      justify-content: center;
      position: relative;
      align-items: center;
      .scalable-image-wrapper {
        position: relative;
      }
    }
    .name {
      display: flex;
      justify-content: center;
    }
  }
}

// SPECIAL LAYOUT FOR SINGLE METRIC
// - A single metric displayed, taking all the place
.width-xxxs.height-xxxs .metric-wrapper,
.metric-wrapper.single {
  @extend %flexColumn;
  flex-grow: 1;
  width: 100%;
  height: 100%;
  .metric {
    flex-grow: 1;
    align-items: center;
    .value {
      flex-direction: column;
      flex-grow: 1;
      width: 100%;
      height: 100%;
    }
    .name {
      padding-top: 1em;
    }
  }
}
// When height is very small, it is nicer to display the metric in a row
.height-xxxs.width-xxxs .metric-wrapper,
.height-xxxs.width-xxs .metric-wrapper {
  width: 100%;
  height: 100%;
  .metric {
    flex-direction: row;
    justify-content: center;
    .value {
      flex-grow: 1;
      padding-bottom: 10px;
      font-size: 150% !important;
    }
    .name {
      padding-top: 0em;
      flex-grow: 1;
      align-items: center;
    }
  }
}

// For larger layout, there are 4 metrics per line and font is bigger
.width-xs, .width-sm, .width-md, .width-lg {
  .metric-wrapper:not(.single) {
    width: 25%;
    height: 100%;
    .value {
      font-size: 400%;
    }
    .name {
      font-size: 120%;
    }
  }
}

// We override default behaviour to reduce font-size if height is small
.height-xxxs .metric-wrapper .metric .value {
  font-size: 150%;
}

// For low high layout, only the first metric is displayed
.height-xxxs.width-xxxs .metric-wrapper:nth-child(n+2),
.height-xxxs.width-xxs .metric-wrapper:nth-child(n+2) {
  display: none;
}
