/* ~~~~~~~~~~~~~~~~~~~~~~~~~~~~~~~~~~~~~~~~~~~~~~~~~~~~~~~~~~~~~~~~~~~~~~~~~ */
/* METRIC
/* ~~~~~~~~~~~~~~~~~~~~~~~~~~~~~~~~~~~~~~~~~~~~~~~~~~~~~~~~~~~~~~~~~~~~~~~~~ */

// metrics
.metric .value {
  color: $color-metric-neutral;
}
.metric.good .value {
  color: $color-metric-good;
}
.metric.avg .value {
  color: $color-metric-average;
}
.metric.bad .value {
  color: $color-metric-bad;
}

.metric .name {
  color: $color-metric-name;
}

// Default layout : 2 metrics per line, each metric have a value above its label
.metric-wrapper {
  display: inline-block;
  width: 50%;
  overflow: hidden;
  .metric {
    display: flex;
    flex-direction: column;
    height: 100%;
    .value {
      display: flex;
      font-size: 190%;
      justify-content: center;
      align-items: flex-end;
      //height: 50px;
      position: relative;
      top: 8px;
      .scalable-image-wrapper {
        position: relative;
        top: -8px;
      }
    }
    .name {
      display: flex;
      //font-size: 120%;
      justify-content: center;
    }
  }
}

// For a single metric, we need to adapt the size
.metric-wrapper.single {
  @extend %flexColumn;
  flex-grow: 1;
  width: 100%;
  .metric {
    flex-grow: 1;
    align-items: center;
    .value {
      flex-direction: column;
      flex-grow: 1;
      width: 100%;
    }
    .name {
      padding-top: 1em;
    }
  }
}
// For a single metric, when height is very small, it is nicer to display the metric in a row
.height-xxxs .metric-wrapper.single {
  .metric {
    flex-direction: row;
    justify-content: flex-start;
    .value {
      flex-grow: 0;
      width: 20%;
    }
    .name {
      padding-top: 0em;
    }
  }
}
// For a single metric, when heigh and width are very small, we need give more space to the value
.height-xxxs.width-xxxs .metric-wrapper.single .metric .value,
.height-xxxs.width-xxs .metric-wrapper.single .metric .value {
  width: 25%;
}

// For larger layout, there are 4 metrics per line and font is bigger
.width-xs, .width-sm, .width-md, .width-lg {
  .metric-wrapper:not(.single) {
    width: 25%;
    .value {
      font-size: 300%;
    }
  }
}

.height-xxxs {
  .metric-wrapper:not(.single) .metric .value {
    font-size: 190%;
    height: 35px;
  }
}

// For low high layout, only the first metric is displayed
.height-xxxs.width-xxxs .metric-wrapper:nth-child(n+2),
.height-xxxs.width-xxs .metric-wrapper:nth-child(n+2) {
  display: none;
}
