/* ~~~~~~~~~~~~~~~~~~~~~~~~~~~~~~~~~~~~~~~~~~~~~~~~~~~~~~~~~~~~~~~~~~~~~~~~~ */
/* WIDGET
/* ~~~~~~~~~~~~~~~~~~~~~~~~~~~~~~~~~~~~~~~~~~~~~~~~~~~~~~~~~~~~~~~~~~~~~~~~~ */

.widget {
  @extend %flexColumn;
  color: $color-text-widget;
  background-color: $color-bg-widget;
  height: 100%;
  text-align: center;
  font-size: 100%;

  header {
    @extend %flexColumn;
    color: $color-text-widget-header;
    background-color: $color-bg-widget-header;
    min-height: 3.5rem;
  }

  article {
    @extend %flexColumn;
    flex-grow: 1;
    padding: $padding-widget-content;
  }

  footer {
    background-color: $color-bg-widget-footer;
  }

}

.widget.desktop article{
  font-size: 120%;
}
