/* ~~~~~~~~~~~~~~~~~~~~~~~~~~~~~~~~~~~~~~~~~~~~~~~~~~~~~~~~~~~~~~~~~~ */
/* WIDGET
/* ~~~~~~~~~~~~~~~~~~~~~~~~~~~~~~~~~~~~~~~~~~~~~~~~~~~~~~~~~~~~~~~~~~ */

.widget {
  @extend %flexColumn;
  height: 100%;
  text-align: center;
  color: $color-text-widget;
  background-color: $color-bg-widget;
  header {
    @extend %flexColumn;
    background-color: $color-bg-widget-header;
    color: $color-text-widget-header;
    height: 50%;
    .title {
      text {
        fill: $color-text-widget-title;
      }
      flex-grow: 1;
    }
    .afterTitle {
      @extend %flexRow;
      flex-grow: 1;
      > div {
        display: flex;
      }
      text {
        fill: $color-text-widget-sub-title;
      }
    }
  }
  .content {
    @extend %flexColumn;
    flex-grow: 1;
    padding: $padding-widget-content;
    height: 100%;
    .single {
      padding-top: 2rem;
    }
    .sk-spinner {
      color: $color-spinner;
      margin: auto;
    }
    .error {
      @extend %flexColumn;
    }
  }
}


