/* ~~~~~~~~~~~~~~~~~~~~~~~~~~~~~~~~~~~~~~~~~~~~~~~~~~~~~~~~~~~~~~~~~~ */
/* METRICS
/* ~~~~~~~~~~~~~~~~~~~~~~~~~~~~~~~~~~~~~~~~~~~~~~~~~~~~~~~~~~~~~~~~~~ */
$color-good: #74b53c !default;
$color-average: #df701f !default;
$color-bad: #c65555 !default;


// SIMPLE METRIC

.metric.simple {
  @extend %flexColumn;
  flex-grow: 1;
  width: 100%;
  height: 100%;


  .scalable-text .value {
    height: 50%;
  }
  .scalable-text .label {
    height: 100%;
  }
}


// CODE LINES COUNT METRIC

.metric.lines-count {
  @extend %flexRow;
  height: 100%;
  flex-grow: 1;
  .scalable-text {
    width: 100%;
  }
  .icon {
    display: flex;
    flex-grow: 1;
    width: 20%;
    min-width: 15px;
    height: 100%;
  }
  .texts {
    display: flex;
    flex-grow: 1;
  }
}

// GENERAL METRIC STATES

.metric.good .scalable-text.value text {
  fill: $color-good;
}
.metric.avg .scalable-text.value text {
  fill: $color-average;
}
.metric.bad .scalable-text.value text {
  fill: $color-bad;
}





