/* ~~~~~~~~~~~~~~~~~~~~~~~~~~~~~~~~~~~~~~~~~~~~~~~~~~~~~~~~~~~~~~~~~~~~~~~~~ */
/* ez-Dashing color configuration
/* ~~~~~~~~~~~~~~~~~~~~~~~~~~~~~~~~~~~~~~~~~~~~~~~~~~~~~~~~~~~~~~~~~~~~~~~~~ */

// BASE COLOR
$color-base: #aaa !default;
$color-black: #242424 !default;
$color-black-half-opacity: rgba(33, 33, 33, 0.5) !default;
$color-blue: #2268ae !default;
$color-blue-dark: #30353c !default;
$color-cyan: #36afb3 !default;
$color-gray: #999 !default;
$color-gray-light: #aaa !default;
$color-green: #74b53c !default;
$color-orange: #db8240 !default;
$color-yellow: #dcae41 !default;
$color-red: #c65555 !default;
$color-white: #eee !default;
$color-white-half-opacity: rgba(255, 255, 255, 0.5) !default;

// GENERIC TEXT COLOR
$color-average: $color-orange !default;
$color-bad: $color-red !default;
$color-base: $color-gray-light !default;
$color-building: $color-yellow !default;
$color-good: $color-green !default;
$color-title: $color-white !default;
$color-spinner: $color-white !default;

// COMPONENT TEXT COLOR
$color-text-clock: $color-cyan !default;
$color-text-sprint: $color-blue !default;
$color-text-widget: $color-white !default;
$color-text-widget-header: $color-title !default;
$color-text-widget-sub-title: $color-gray-light !default;

// BACKGROUND COMPONENT COLOR
$color-bg-grid: $color-black !default;
$color-bg-grid-placeholder: $color-white-half-opacity;
$color-bg-widget: $color-blue-dark !default;
$color-bg-widget-header: $color-black-half-opacity !default;
$color-bg-widget-footer: $color-black-half-opacity !default;

// SPECIFIC COMPONENT COLOR
$color-progress-bar-trail: #222 !default;
$color-progress-bar-path: #888 !default;
$color-progress-bar-text: #FFF !default;


/* ~~~~~~~~~~~~~~~~~~~~~~~~~~~~~~~~~~~~~~~~~~~~~~~~~~~~~~~~~~~~~~~~~~~~~~~~~ */
/* ez-Dashing padding configuration
/* ~~~~~~~~~~~~~~~~~~~~~~~~~~~~~~~~~~~~~~~~~~~~~~~~~~~~~~~~~~~~~~~~~~~~~~~~~ */

// GENERIC PADDING
$padding-content: 1rem !default;

// COMPONENT PADDING
$padding-widget-content: $padding-content !default;



/* ~~~~~~~~~~~~~~~~~~~~~~~~~~~~~~~~~~~~~~~~~~~~~~~~~~~~~~~~~~~~~~~~~~~~~~~~~ */
/* ez-Dashing misc configuration
/* ~~~~~~~~~~~~~~~~~~~~~~~~~~~~~~~~~~~~~~~~~~~~~~~~~~~~~~~~~~~~~~~~~~~~~~~~~ */
$image-path: '/img' !default;


/* ~~~~~~~~~~~~~~~~~~~~~~~~~~~~~~~~~~~~~~~~~~~~~~~~~~~~~~~~~~~~~~~~~~~~~~~~~ */
/* ez-Dashing KNACSS configuration
/* ~~~~~~~~~~~~~~~~~~~~~~~~~~~~~~~~~~~~~~~~~~~~~~~~~~~~~~~~~~~~~~~~~~~~~~~~~ */

// MOBILE FONT SIZE
$base-font-size : 1.4rem !default;
$line-height    : 1.4 !default;
$h1-size        : 1.8rem !default;
$h2-size        : 1.6rem !default;
$h3-size        : 1.4rem !default;
$h4-size        : 1.4rem !default;
$h5-size        : 1.4rem !default;
$h6-size        : 1.4rem !default;

// DESKTOP FONT SIZE
$base-font-size-l : 1.4 rem !default;
$line-height-l    : 1.5 !default;
$h1-size-l        : 1.8rem !default;
$h2-size-l        : 1.6rem !default;
$h3-size-l        : 1.4rem !default;
$h4-size-l        : 1.4rem !default;
$h5-size-l        : 1.4rem !default;
$h6-size-l        : 1.4rem !default;


$font-size-widget-sub-title: $h2-size-l !default;
$font-size-widget-article-desktop: 120% !default;
