
/* ~~~~~~~~~~~~~~~~~~~~~~~~~~~~~~~~~~~~~~~~~~~~~~~~~~~~~~~~~~~~~~~~~~ */
/* ez-Dashing main configuration
/* ~~~~~~~~~~~~~~~~~~~~~~~~~~~~~~~~~~~~~~~~~~~~~~~~~~~~~~~~~~~~~~~~~~ */

$color-base: #aaa !default;
$color-good: #74b53c !default;
$color-bad: #c65555 !default;
$color-average: #db8240 !default;
$color-building: #dcae41 !default;

$color-date: #36afb3 !default;
$color-sprint: #2268ae !default;
$color-gray: #999 !default;
$color-title: #eee !default;

$color-grid-bg: #242424 !default;


$ez-gap: 1rem !default;
$color-widget-bg: #30353c !default;
$color-widget-bg-header: rgba(33, 33, 33, 0.5) !default;
$ez-widget-text-header: rgba(255, 255, 255, 0.8) !default;
$ez-widget-text-color: white !default;
$image-path: '/img' !default;


$color-white-half-opacity: rgba(255, 255, 255, 0.5) !default;
