
.bm-burger-button {
  position: fixed;
  width: 36px;
  height: 30px;
  left: 36px;
  bottom: 36px;

  .bm-burger-bars {
    background: $color-burger-menu-burger-button;
  }
}

.bm-menu {
  background: $color-burger-menu-bg;
  //padding: 2.5em 1.5em 0;
  fontSize: 1.15em;

  .bm-item-list {
    //padding: 0.8em;
    h1 {
      margin: 0 auto;
      padding: 2em 1em;
      color: #eee;

      .icon.ez-logo {
        @extend %icon;
        background-image: url('#{$image-path}/tech/ezLogo.png');
        display: inline-block;
        width: 100px;
        height: 50px;
        vertical-align: middle;
      }
    }
    .menu-item {
      padding: 1em;
      color: $color-burger-menu-item;
      letter-spacing: 1px;
      text-transform: uppercase;
      text-decoration: none;

      i {
        margin-right: 1em;
      }
    }

    .menu-item:hover {
      background: rgba(0, 0, 0, 0.2);
      box-shadow: inset 0 -1px rgba(0, 0, 0, 0);
    }
  }
}

.bm-cross-button {
  height: 24px;
  width: 24px;

  .bm-cross {
    background: $color-burger-menu-cross-button;
  }

}

.bm-overlay {
  background: $color-burger-menu-overlay;
}


// ICON DEFINITIONS
.menu-item .icon.layout {
  //@include svgMaskIcon(16px, $color-burger-menu-item, 'layout.svg');
  @include svgMaskIcon(16px, $color-burger-menu-item, 'thumb.svg');
}

.menu-item .icon.theme {
  @include svgMaskIcon(16px, $color-burger-menu-item, 'painterPalette.svg');
}
