/* ~~~~~~~~~~~~~~~~~~~~~~~~~~~~~~~~~~~~~~~~~~~~~~~~~~~~~~~~~~~~~~~~~~ */
/* CLOCK WIDGET
/* ~~~~~~~~~~~~~~~~~~~~~~~~~~~~~~~~~~~~~~~~~~~~~~~~~~~~~~~~~~~~~~~~~~ */
$color-date: #36afb3 !default;

.widget.clock {
  font-size: 2rem;
  align-items: center;
  .content {
    padding: 0;
    width: 100%;
    > div {
      @extend %flexColumn;
    }
    .date {
      padding-bottom: 20px;
    }
  }
  .icon {
    @extend %icon;
    width: 30px;
    height: 30px;
  }
  .scalable-text text {
    fill: $color-date;
  }
}
