
.widget.graph {
  //background-color: #fff;
  .content {
    height: 100%;
    width: 100%;
    padding: 0;
    > div {
      @extend %flexColumn;
      flex-grow: 1;
      height: 100%;
      width: 100%;
    }

  }
}
.ct-chart {
  svg {
    //margin-left: -50px;
  }
}
.ct-grid {
  stroke: #555;
}
.ct-label {
  color: #eee;
}
.ct-chart {
  height: 100%;
}

// MAIN
.ct-series-a {
  .ct-line {
    stroke-width: 2px;
    stroke: $ez-good;
  }
  .ct-point {
    stroke-width: 5px;
    stroke-linecap: round;
    stroke: $ez-good;
  }
  .ct-area {
    fill: $ez-good;
  }
}

// THRESHOLD
.ct-series-b {
  .ct-line {
    stroke-width: 2px;
    stroke: $ez-bad;
  }
  .ct-point {
    stroke-width: 0px;
    stroke-linecap: round;
    stroke: $ez-bad;
  }
  .ct-area {
    fill: none;
  }
}


