/* ~~~~~~~~~~~~~~~~~~~~~~~~~~~~~~~~~~~~~~~~~~~~~~~~~~~~~~~~~~~~~~~~~~ */
/* JENKINS MONITORING WIDGET (use 'monitoring' jenkins plugin api)
/* ~~~~~~~~~~~~~~~~~~~~~~~~~~~~~~~~~~~~~~~~~~~~~~~~~~~~~~~~~~~~~~~~~~ */
$ez-avg: #df701f !default;
$ez-bad: #c65555 !default;

.jenkins-monitoring {
  .content {
    > div {
      display: flex;
      flex-grow: 1;
      flex-direction: column;
    }
    .progress-bar text.display-value {
      font-size: 8px;
    }
  }
}

// STATES

.jenkins-monitoring.bad header .title {
  background-color: $ez-bad;
}
.jenkins-monitoring.avg header .title {
  background-color: $ez-avg;
}
