
/* ~~~~~~~~~~~~~~~~~~~~~~~~~~~~~~~~~~~~~~~~~~~~~~~~~~~~~~~~~~~~~~~~~~ */
/* WIDGET : SONKINS (SONAR + JENKINS)
/* ~~~~~~~~~~~~~~~~~~~~~~~~~~~~~~~~~~~~~~~~~~~~~~~~~~~~~~~~~~~~~~~~~~ */

// HEADER

.sonkins {
  .afterTitle {
    .branch {
      display: flex;
      padding-right: 30px;
      width: 50%;
    }
    .last-update {
      @extend %flexColumn;
      width: 50%;
    }
  }
}


// CONTENT

.sonkins {
  .content {
    height: 100%;
    > div {
      @extend %flexColumn;
      flex-grow: 1;
      height: 100%;
    }
    .header {
      @extend %flexRow;
      width: 100%;
      height: 15%;
    }
    .metrics {
      @extend %flexRow;
      flex-grow: 1;
      height: 70%;
      > div {
        padding: $ez-gap / 2;
      }
    }
  }
}

// STATES

.widget.sonkins.UNSTABLE header .title, .widget.sonkins.FAILURE header .title {
  background-color: $ez-bad;
}
.widget.sonkins.REBUILDING header .title{
  background-color: $ez-building;
}


// PART > BUILD-AUTHOR

.build-author {
  @extend %flexColumn;
  flex-grow: 1;
  width: 100%;
}


// PART > REBUILDING

.jenkins-build.progress-bar {
  .path {
    stroke: $ez-building;
  }
  .display-value, .label {
    dominant-baseline: middle;
  }
  .display-value {
    font-size: 3rem;
    fill: $ez-building;
  }
}
