/* ~~~~~~~~~~~~~~~~~~~~~~~~~~~~~~~~~~~~~~~~~~~~~~~~~~~~~~~~~~~~~~~~~~~~~~~~~ */
/* WIDGET : SONKINS (SONAR + JENKINS)
/* ~~~~~~~~~~~~~~~~~~~~~~~~~~~~~~~~~~~~~~~~~~~~~~~~~~~~~~~~~~~~~~~~~~~~~~~~~ */
$color-base: #fff !default;
$color-bad: #c65555 !default;
$color-building: #dcae41 !default;

$ez-sonkins-header-bg-good: none !default;
$ez-sonkins-header-text-good: $color-base !default;
$ez-sonkins-header-bg-bad: $color-bad !default;
$ez-sonkins-header-text-bad: $color-base !default;
$ez-sonkins-header-bg-building: $color-building !default;
$ez-sonkins-header-text-building: $color-base !default;

// HEADER

.sonkins {
  .afterTitle {
    .branch {
      display: flex;
      padding-right: 30px;
      width: 50%;
      text {
        font-size: 7px;
      }
    }
    .last-update {
      @extend %flexColumn;
      width: 50%;
    }
  }
}


// CONTENT

.sonkins {
  .content {
    padding: 1rem 0 0 0;
    > div {
      @extend %flexColumn;
      flex-grow: 1;
      height: 100%;

      .main-content {
        @extend %flexColumn;
        flex-grow: 1;
        height: 100%;
        > div {
          @extend %flexRow;
          //flex-grow: 1;
          height: 100%;
        }
      }
    }

    .flip .face {
      display: flex;
    }
  }
}


// STATES

.widget.sonkins.UNSTABLE header .title,
.widget.sonkins.FAILURE header .title {
  background-color: $ez-sonkins-header-bg-bad;
  text {
    fill: $ez-sonkins-header-text-bad;
  }

}

.widget.sonkins.REBUILDING header .title{
  background-color: $ez-sonkins-header-bg-building;
  text {
    fill: $ez-sonkins-header-text-building;
  }
}

.widget.sonkins.SUCCESS header .title{
  background-color: $ez-sonkins-header-bg-good;
  text {
    fill: $ez-sonkins-header-text-good;
  }
}

// PART > BUILD-AUTHOR

.build-author {
  @extend %flexColumn;
  //flex-grow: 1;
  width: 100%;
  .scalable-image {
    //padding: 15px 0px 15px 0;
    height: 100%;
  }
  .scalable-text {
    height: 100%;
  }
}


// PART > REBUILDING

.jenkins-build.progress-bar {
  .path {
    stroke: $color-building;
  }
  .display-value, .label {
    dominant-baseline: middle;
  }
  .display-value {
    font-size: 3rem;
    fill: $color-building;
  }
}
