/* ~~~~~~~~~~~~~~~~~~~~~~~~~~~~~~~~~~~~~~~~~~~~~~~~~~~~~~~~~~~~~~~~~~ */
/* SPRINT WIDGET
/* ~~~~~~~~~~~~~~~~~~~~~~~~~~~~~~~~~~~~~~~~~~~~~~~~~~~~~~~~~~~~~~~~~~ */
$ez-sprint: #2268ae !default;
$ez-title: #eee !default;

.widget.current-sprint {
  header {
    padding-left: 10%;
    @extend %flexRow;
    .sprint-label {
      padding-right: 0.5rem;
    }
    .sprint-number {
      padding-left: 0.5rem;
    }
    .sprint-number.scalable-text text {
      fill: $ez-sprint;
    }
  }
  .content {
    .progress-bar .trail {
      stroke: $ez-title;
    }
    .progress-bar .path {
      stroke: $ez-sprint;
    }
    text {
      fill: $ez-title;
    }

  }
}
