/* ~~~~~~~~~~~~~~~~~~~~~~~~~~~~~~~~~~~~~~~~~~~~~~~~~~~~~~~~~~~~~~~~~~ */
/* SPRINT WIDGET
/* ~~~~~~~~~~~~~~~~~~~~~~~~~~~~~~~~~~~~~~~~~~~~~~~~~~~~~~~~~~~~~~~~~~ */
$color-sprint: #2268ae !default;
$color-title: #eee !default;

.widget.current-sprint {
  header {
    padding-left: 10%;
    @extend %flexRow;
    .sprint-label {
      padding-right: 0.5rem;
    }
    .sprint-number {
      padding-left: 0.5rem;
    }
    .sprint-number.scalable-text text {
      fill: $color-sprint;
    }
  }
  .content {
    .progress-bar .trail {
      stroke: $color-title;
    }
    .progress-bar .path {
      stroke: $color-sprint;
    }
    text {
      fill: $color-title;
    }

  }
}
