/* ~~~~~~~~~~~~~~~~~~~~~~~~~~~~~~~~~~~~~~~~~~~~~~~~~~~~~~~~~~~~~~~~~~ */
/* WIDGET
/* ~~~~~~~~~~~~~~~~~~~~~~~~~~~~~~~~~~~~~~~~~~~~~~~~~~~~~~~~~~~~~~~~~~ */
$color-widget-bg: #30353c !default;
$color-widget-bg-header: rgba(33, 33, 33, 0.5) !default;
$ez-widget-text-header: rgba(255, 255, 255, 0.8) !default;
$ez-widget-text-color: white !default;
$ez-gap: 1rem !default;
$color-title: #ddd !default;
$color-gray: #888 !default;

.widget {
  @extend %flexColumn;
  height: 100%;
  text-align: center;
  color: $ez-widget-text-color;
  background-color: $color-widget-bg;
  header {
    @extend %flexColumn;
    background-color: $color-widget-bg-header;
    color: $ez-widget-text-header;
    height: 50%;
    .title {
      text {
        fill: $color-title;
      }
      //fill-opacity: 0.8;
      flex-grow: 1;
    }
    .afterTitle {
      @extend %flexRow;
      flex-grow: 1;
      //fill-opacity: 0.4;
      //fill: #888;
      > div {
        display: flex;
      }
      text {
        fill: $color-gray;
      }
    }
  }
  .content {
    @extend %flexColumn;
    flex-grow: 1;
    padding: $ez-gap;
    height: 100%;
    .single {
      padding-top: 2rem;
    }
    .sk-spinner {
      color: #eee;
      margin: auto;
    }
    .error {
      @extend %flexColumn;
    }
  }
}


