
$headerBgColor: $ez-widget-bg-header;
$titleFontSize: $h1-size;
$titleColor: $ez-widget-text-header;
$textColor: $ez-widget-text-color;
$bgColor: $ez-widget-bg;
$contentPadding: $ez-gap;


/* ~~~~~~~~~~~~~~~~~~~~~~~~~~~~~~~~~~~~~~~~~~~~~~~~~~~~~~~~~~~~~~~~~~ */
/* WIDGET
/* ~~~~~~~~~~~~~~~~~~~~~~~~~~~~~~~~~~~~~~~~~~~~~~~~~~~~~~~~~~~~~~~~~~ */
.widget {
  @extend %flexColumn;
  height: 100%;
  text-align: center;
  color: $textColor;
  background-color: $bgColor;
  header {
    @extend %flexColumn;
    background-color: $headerBgColor;
    color: $titleColor;
    height: 50%;
    .title {
      fill-opacity: 0.8;
      font-weight: bold;
      flex-grow: 1;
    }
    .afterTitle {
      @extend %flexRow;
      flex-grow: 1;
      fill-opacity: 0.4;
      > div {
        display: flex;
      }
    }
  }
  .content {
    @extend %flexColumn;
    flex-grow: 1;
    padding: $contentPadding;
    height: 100%;
    .single {
      padding-top: 2rem;
    }
    .sk-spinner {
      color: #eee;
      margin: auto;
    }
    .error {
      @extend %flexColumn;
    }
  }
}


