/* CANVAS TAB */
.ez-canvas {
  padding: 10px;
  display: flex;
  flex-grow: 1;
  justify-content: center;
  align-items: center;
  position: absolute;
  width: 100%;
  height: 100%;
  flex-direction: column;
  background-color: transparent;
}
.ez-canvas > p {
  color: #888;
  margin-top: 50px;
  margin-bottom: -50px;
  font-style: italic;
  text-align: center;
}
.ez-story-wrapper.widget {
  width: 200px;
  height: 200px;
}
