@import "../../../style/common";

/* ~~~~~~~~~~~~~~~~~~~~~~~~~~~~~~~~~~~~~~~~~~~~~~~~~~~~~~~~~~~~~~~~~~~~~~~~~ */
/* WIDGET
/* ~~~~~~~~~~~~~~~~~~~~~~~~~~~~~~~~~~~~~~~~~~~~~~~~~~~~~~~~~~~~~~~~~~~~~~~~~ */


.widget {
  @extend %flexColumn;
  position: relative;
  color: $color-widget-text;
  background-color: $color-widget-bg;
  height: 100%;
  min-height: 80px;
  text-align: center;

  .edit-icon {
    width: 20px;
    height: 20px;
    margin: 5px;
    position: absolute;
    top: 0;
    right: 0;
    cursor: pointer;
    @include svgMaskIcon(20px, $color-widget-edit-icon, $image-edit);
  }

}

// This wrapper is needed in order to get a div in absolute position (for children in relative)
// All content go inside. This is just a technical hack.
.widget .widget-container {
  position: absolute;
  width: 100%;
  height: 100%;
}
