@import "../../../style/common";

/* ~~~~~~~~~~~~~~~~~~~~~~~~~~~~~~~~~~~~~~~~~~~~~~~~~~~~~~~~~~~~~~~~~~~~~~~~~ */
/* WIDGET
/* ~~~~~~~~~~~~~~~~~~~~~~~~~~~~~~~~~~~~~~~~~~~~~~~~~~~~~~~~~~~~~~~~~~~~~~~~~ */

.widget {
  @extend %flexColumn;
  position: relative;
  color: $color-widget-text;
  background-color: $color-widget-bg;
  height: 100%;
  min-height: 80px;
  text-align: center;

  header {
    @extend %flexRow;
    color: $color-widget-header-text;
    background-color: $color-widget-header-bg;
    height: 4rem;
    min-height: 4rem;
    padding: 1rem;
    align-items: center;
    h1 {
      display: flex;
      align-items: center;
    }
    h2 {
      display: flex;
      justify-content: flex-end;
      flex-grow: 1;
      color: $color-widget-sub-title-text;
      font-size: $font-size-widget-sub-title;
    }
    strong {
      font-size: 180%;
      margin-right: 1rem;
      margin-left: 1rem;
    }
  }
  article {
    @extend %flexColumn;
    flex-grow: 1;
    height: 100%;
    padding: $padding-widget-content;

    .error-image {
      @include svgMask($color-bad, $image-error);
    }
  }
  footer {
    background-color: $color-widget-footer-bg;
  }

  .edit-icon {
    width: 20px;
    height: 20px;
    margin: 5px;
    position: absolute;
    top: 0;
    right: 0;
    cursor: pointer;
    @include svgMaskIcon(20px, $color-widget-edit-icon, $image-edit);
  }

}

